* {
    margin: 0;
    padding: 0;
}

#main-cont {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin-top: 80px;
}

.div-1 {
    
}